# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
output*
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#bft-SMaRt
*currentView

src/main/resources/ABConfig*
src/main/resources/inst*
src/main/resources/sslConfig*
src/main/resources/config*
bin*
cbin*
scripts/python/.idea*
scripts/python/venv*
scripts/python/*.html

configurations/*
scripts/*